@import "globals";

.main-menu {
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: whitesmoke;

    a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        text-decoration: none;
        padding: .5em;

        &.selected {
            color: red;
        }
    }
}